#!/bin/bash

# Temperature thresholds
LOWERTHRESHOLD=
UPPERTHRESHOLD=

# Graph colours
RRD_BACK=#
RRD_SHADEA=#
RRD_SHADEB=#
RRD_FONT=#
RRD_CANVAS=#
RRD_GRID=#
RRD_MGRID=#
RRD_FRAME=#
RRD_ARROW=#

# Area colours
NOCOLOUR=#00000000
TOOCOOLCOLOUR=#
TOOWARMCOLOUR=#
JUSTRIGHTCOLOUR=#

# Line colours
INDOORTEMP=#
OUTDOORTEMP=#

# Paths
WWWROOT=''

