#!/bin/bash

# Temperature thresholds
UPPERTHRESHOLD=
LOWERTHRESHOLD=

# Graph colours
RRD_BACK=#
RRD_SHADEA=#
RRD_SHADEB=#
RRD_FONT=#
RRD_CANVAS=#
RRD_AXIS=#
RRD_GRID=#
RRD_MGRID=#
RRD_FRAME=#
RRD_ARROW=#

# Rule colours
UPPERTHRESHOLDCOLOUR=#
LOWERTHRESHOLDCOLOUR=#

# Line colours
INDOORTEMP=#
OUTDOORTEMP=#

# Paths
WWWROOT=''

