#!/bin/bash

# Temperature thresholds
LOWERTHRESHOLD=
UPPERTHRESHOLD=

# Graph colours
RRD_BACK=#
RRD_SHADEA=#
RRD_SHADEB=#
RRD_FONT=#
RRD_CANVAS=#
RRD_AXIS=#
RRD_GRID=#
RRD_MGRID=#
RRD_FRAME=#
RRD_ARROW=#

# Area colours
NOCOLOUR=#00000000
TOOWARMCOLOUR=#
JUSTRIGHTCOLOUR=#
TOOCOOLCOLOUR=#

# Line colours
LOWERTHRESHOLDCOLOUR=#
UPPERTHRESHOLDCOLOUR=#
INDOORTEMP=#
OUTDOORTEMP=#

# Paths
WWWROOT=''

